* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
}

header {
  display: flex;
  height: 4rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39,153,137);
  color: white;
}

h1 {
  font-size: 1.2rem;
}

ul {
  font-size: 0.8rem;
  gap: 0.9rem;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.first-section {
  color: white;
  background-color: rgb(68,160,128);
  font-size: 0.7rem;
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
}

.second-section {
  background-color: rgb(255,200,69);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.article-header {

  height: 2rem;
  padding: 0.7rem;
}

.form {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.8rem;
  width: 90%;
  padding: 0.7rem;
  gap: 0.7rem;
}

label {
  flex-basis: 90%;
}

input {
  padding: 0.4rem;
  width: 50%;
}

.input-price {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: center;
  flex-basis: 100%;
}

.lady-gaga{
  background-color: white;
  color: rgb(68,160,128);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}

p {
  margin-top: 0.5rem;
}

button {
  flex-basis: 30%;
  width: 10%;
  margin-right: 2rem;
  height: 2rem;
  background-color: rgb(68,160,128);
  color: white;
  border: 0px;
}
